
.container-fluid
	.row-fluid
	
		.span12
			.well.well-small
				%form#fSubmit.form-inline
					.input-append
						%input#src.input-medium{:type => "text", :placeholder => "От кого", :value => "{$controls.src}"}
						%span.add-on
							%i.icon-user
				
					.input-append
						%input#dst.input-medium{:type => "text", :placeholder => "Кому", :value => "{$controls.dst}"}
						%span.add-on
							%i.icon-user

					#dp1.input-append.date{:data => {:date => "{$controls.date1}", :"date-format" => "dd-mm-yyyy"}}
						%input#date1.input-small{:size => "16", :type => "text", :value => "{$controls.date1}"}
						%span.add-on
							%i.icon-th

					#dp2.input-append.date{:data => {:date => "{$controls.date2}", :"date-format" => "dd-mm-yyyy"}}
						%input#date2.input-small{:size => "16", :type => "text", :value => "{$controls.date2}"}
						%span.add-on
							%i.icon-th

					.hidden
						%input{:type => "submit"}

				/
					%form.form-inline
						%label.checkbox
							%input#cb_short_calls.cb{:type => "checkbox", :checked => true, :data => {:cb => "show_short_calls"}}
							Показывать короткие звонки
							%input#show_short_calls{:type => "hidden", :value => "on"}

				%form.form-inline
					%label.hidden-phone
						%small Выводить
					.btn-group.limit
						%a{:href => "#", :class => "btn btn-small {if ($controls.limit==10)}active{/if}", 
							:data => {:limit => "10"}} 10
						%a{:href => "#", :class => "btn btn-small {if ($controls.limit==20)}active{/if}",
							:data => {:limit => "20"}} 20
						%a{:href => "#", :class => "btn btn-small {if ($controls.limit==30)}active{/if} hidden-phone",
							:data => {:limit => "30"}} 30
						%a{:href => "#", :class => "btn btn-small {if ($controls.limit==40)}active{/if}",
							:data => {:limit => "40"}} 40
					%input#limit{:type => "hidden", :value => "20"}
					.btn-group
						%a.btn.btn-small.dropdown-toggle{ :href => "#", :data => {:toggle => "dropdown"}}
							Фильтры
							%span.caret
						%ul.dropdown-menu.filters{:role => "menu", :"aria-labelledby" => "dLabel"}
							%li.nav-header Статусы
							%li
								{if ($controls.show_answered!='off')}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_answered", :value => "on"}}
									%i.icon-ok
									Отвеченные
								{else}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_answered", :value => "off"}}
									%i.icon-none
									Отвеченные
								{/if}
							%li
								{if ($controls.show_no_answer!='off')}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_no_answer", :value => "on"}}
									%i.icon-ok
									Не отвеченные
								{else}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_no_answer", :value => "off"}}
									%i.icon-none
									Не отвеченные
								{/if}
							%li
								{if ($controls.show_busy!='off')}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_busy", :value => "on"}}
									%i.icon-ok
									Занято
								{else}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_busy", :value => "off"}}
									%i.icon-none
									Занято
								{/if}
							%li
								{if ($controls.show_failed!='off')}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_failed", :value => "on"}}
									%i.icon-ok
									Отмененные
								{else}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_failed", :value => "off"}}
									%i.icon-none
									Отмененные
								{/if}
							%li.divider
							%li.nav-header Посл. действ.
							%li
								{if ($controls.show_dial!='off')}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_dial", :value => "on"}}
									%i.icon-ok
									Вызов
								{else}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_dial", :value => "off"}}
									%i.icon-none
									Вызов
								{/if}
							%li
								{if ($controls.show_playback!='off')}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_playback", :value => "off"}}
									%i.icon-ok
									ИВР
								{else}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_playback", :value => "off"}}
									%i.icon-none
									ИВР
								{/if}
							%li
								{if ($controls.show_wait!='off')}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_wait", :value => "on"}}
									%i.icon-ok
									Ожидание
								{else}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_wait", :value => "off"}}
									%i.icon-none
									Ожидание
								{/if}
							%li
								{if ($controls.show_hangup!='off')}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_hangup", :value => "on"}}
									%i.icon-ok
									Сброшено
								{else}
								%a{:tabindex => "-1", :href => "#", :data => {:cb => "show_hangup", :value => "off"}}
									%i.icon-none
									Сброшено
								{/if}
						
					%input#show_answered{:type => "hidden", :value => "{if ($controls.show_answered!='off')}on{else}off{/if}"}
					%input#show_no_answer{:type => "hidden", :value => "{if ($controls.show_no_answer!='off')}on{else}off{/if}"}
					%input#show_busy{:type => "hidden", :value => "{if ($controls.show_busy!='off')}on{else}off{/if}"}
					%input#show_failed{:type => "hidden", :value => "{if ($controls.show_failed!='off')}on{else}off{/if}"}
					%input#show_hangup{:type => "hidden", :value => "{if ($controls.show_hangup!='off')}on{else}off{/if}"}
					%input#show_playback{:type => "hidden", :value => "{if ($controls.show_playback!='off')}on{else}off{/if}"}
					%input#show_dial{:type => "hidden", :value => "{if ($controls.show_dial!='off')}on{else}off{/if}"}
					%input#show_wait{:type => "hidden", :value => "{if ($controls.show_wait!='off')}on{else}off{/if}"}

				%a#submit.btn.btn-primary.btn-medium{:href => "#"}
					%i.icon-ok.icon-white
					Применить

				/
					#loading
						.progress.progress-striped.active
							.bar{:style => "width: 100%;"}
								%strong Загрузка данных...
